@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

:root {
    /**=============== Font and typography ===============**/
    /** .5rem = 8px | 1rem = 16px .... */
    --body-font: 'Poppins', sans-serif;
    --body-font-alt: 'Josefin Sans', sans-serif;
    --second-font: font-family: 'Montserrat', sans-serif;
    --biggest-font-size: 2.25rem;
    --bigger-font-size: 2rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.2rem;
    --h3-font-size: 1rem;
    --normal-font-size: .94rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --smallest-font-size: .7rem;

    /*=============== Margins bottom ===============*/
    --mb-0-5: .5rem;
    --mb-0-75: .75ren;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-3-5: 3.5rem;
    --mb-4: 4rem;
    /*=============== Font weight ===============*/
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

.container {
    max-width: 1120px;
    margin-inline: var(--mb-1-5);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #181818ea;

}

.wrapper {
    /* From https://css.glass */
    background: rgb(255, 255, 255);
    border-radius: 1.2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    width: 370px;
    padding: 2rem;
}

.header {
    font-size: var(--big-font-size);
    font-weight: var(--font-weight-medium);
    text-align: center;
}

form {
    margin: 2.5rem 0 1.5rem 0;
}

form input,
form select,
form button {
    width: 100%;
    outline: none;
    border-radius: 7px;
    border: none;
}

form input {
    height: 2.5rem;
    padding: 0 1rem;
    border: 1px solid #999;
}

form p {
    font-size: var(--body-font);
    margin-bottom: .3rem;
}

form input:focus {
    border: 2px solid #181818ea;
    padding: 0 1.3rem;
    transition: .4s;
}

form .drop__list {
    margin-top: var(--mb-1-5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drop__list .select__box {
    display: flex;
    width: 7.2rem;
    align-items: center;
    border-radius: 7px;
    justify-content: center;
    height: 2.8rem;
    border: 1px solid #999;
}

.select__box select {
    width: auto;
    font-size: var(--h3-font-size);
    margin: 0 -5px 0 5px;
}

select::-webkit-scrollbar {
    width: 8px;
}

select::-webkit-scrollbar-track {
    background: #999;
}

select::-webkit-scrollbar-thumb {
    background: #181818ea;
    border-radius: 8px;
    border-right: 2px solid #fff;
}

.select__box img {
    width: 1.6rem;
}

.drop__list .icon {
    font-size: var(--h2-font-size);
    cursor: pointer;
    margin-top: 1.8rem;
}

form .exchange__rate {
    font-size: 1.1rem;
    margin: 1.1rem 0 2rem;
}

form button {
    height: 3rem;
    color: #fff;
    background: #181818ea;
    cursor: pointer;
    font-size: 1rem;
}